.Header__nav {
  width: 100%;
  max-width: 500px;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: transparent;
  z-index: 1;
}
.Header__nav .InitialNav__logo-container h2{
  color: #fff;
}

.Header .Header__nav .InitialNav__options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.InitialNav__options-container .options-container__icon-container {
  width: 32px;
  height: 32px;
}
.options-container__icon-container svg {
  width: 100%;
  height: 100%;
  color: #fff;
}
